@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h6>New location for css/js is wwwroot - can be renamed</h6>
    <h6>New startup and program files. seems easier in .net core than original .net</h6>
    <h6>I assume startup would be where user auth is located. Looks like a nice change.</h6>

    <h6>I don't see using CLI a whole bunch but it is my first experience with it so that will remain to be seen.</h6>
    <h6>publish</h6>
</div>
